

.RosttDDn-PAg{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
.RostMain-DB-Envt{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 90px;
}

.RostDB-Envt-Container{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 80px;
}

/* Gen-SubNav */

.Gen-SubNav{
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #ebe6ff;
    top: 55px;
    z-index: 500;
    border-bottom: 1px solid #e1dbf8;
}

.Gen-SubNav-Container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.Gen-SubNav-Container ul{
    position: relative;
    display: inline-flex;
    align-items: center;
}
.Gen-SubNav-Container ul li{
    position: relative;
}

.Gen-SubNav-Container ul li a{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    height: 40px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}
.Gen-SubNav-Container ul li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(135deg, #450CD5 0%, #7226FF 50%, #F042FF 100%);
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.Gen-SubNav-Container ul li a:hover::before{
    width: 100%;
}
.Gen-SubNav-Container ul li a:hover{
    color: #7226FF;
}